<script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous">
</script>

<script>

$(document).ready(function() {

	function parseSounds(){
		var audios = JSON.parse('<%=raw(@audios.to_json)%>')
		var sounds = {}
		for(key in audios){
			sounds[key] = new Audio(audios[key])
		}
		return sounds
	}

	function setNodes(){
		function connectNodes(){
			for(key in nodes){
				nodes[key].connect(mainNode)		
			}
		}

		var nodes = {}
		for (key in sounds){
			// nodes[key] = AudioContext.createMediaElementSource(sounds[key])
			nodes[key] = new MediaElementAudioSourceNode(audCtx, { mediaElement: sounds[key] })
		}
		connectNodes()
		return nodes
	}

//---------------------------------------

	var audCtx = new AudioContext()
	var sounds = parseSounds()
	var mainNode = new ChannelMergerNode(audCtx, {numberOfInputs: sounds.length});
	mainNode.connect(audCtx.destination)
	var nodes = setNodes()

// --------------------------------------

	$("body").on("keydown", function(e) {
		var index = e.which
		var sound = sounds[index]
		if (!sound.ended){sound.currentTime = 0}
		sound.play()
	})
})
</script>
<h1>memory</h1>