<h1>Sails</h1>
<button id='rec' recording='n'>Rec</button>
<div id="reclist"></div>

<div class="keyboard">
	<%$keys.each do |key, value|%>
		<div class="key"><%=key%></div>
	<%end%>
</div>

<!-- keys = [{
	which => ..,
	char  => ..,
	

}] -->