@font-face{
	font-family: chunk-five;
	src: url(/fonts/Chunkfive.otf);
}
@font-face{
	font-family: big-noodle;
	src: url(/fonts/Bignoodle.ttf);
}

.chunk{
	font-family: chunk-five;
}
.noodle{
	font-family: big-noodle;
}


body{
	background: #31353C;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color:inherit;
}
.container{
	padding: 0.5%;
}

#nav-bar{
	font-weight: bold;
	height: 60px;
	background: #6b717b;
}
#nav-bar>.nav-item{
	font-size: 20px;
	color: #31353c;
	display: inline-block;
}
.nav-item+.nav-item{
	padding-left: 100px; 
}
.nav-item>span{
	position: relative;
	top: 17px;
}
.nav-item>.lamp{
	cursor: pointer;
	position: relative;
	top:15px;
	right: 5px;
}
.nav-item>.lamp{
	background: #da0031;
	height: 10px;
	width: 10px;
	border-radius: 50px;
	display: inline-block;
}
.nav-item>span:hover{
	cursor: pointer;
}
#nav-bar>.logo{
	font-size: 27px; 
	padding-left: 20px; 
	height: 100%;
	width: 150px;
}

#presset-name{
	font-size: 50px;
	color: #b9bdc5;
}

.key {
	margin: 4px 3px;
	display: inline-block;
	border: 5px solid #6b717b;
	border-radius: 3px;
	background: #b9bdc5;
	width: 100px;
	height: 70px;
	-webkit-box-shadow: inset 0px 0px 45px 20px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 0px 45px 20px rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 45px 20px rgba(0,0,0,0.3);
}
.key>.char{
	font-size: 30px;
	position: relative;
	left: 10px;
}
.key>.sound{
	font-size: 25px;
	position: relative;
	top:40px;
}
.pressed{
	background: #f1d519;
	border-color: #7B6D02;
}
.offset{
	display: inline-block;
}