@font-face{
	font-family: chunk-five;
	src: url(/fonts/Chunkfive.otf);
}
@font-face{
	font-family: big-noodle;
	src: url(/fonts/Bignoodle.ttf);
}

.chunk{
	font-family: chunk-five;
}
.noodle{
	font-family: big-noodle;
}

body{
	background: #31353C;
}

#presset-name{
	font-size: 50px;
	color: #b9bdc5;
}

.key {
	margin: 4px 3px;
	display: inline-block;
	border: 5px solid #6b717b;
	border-radius: 3px;
	background: #b9bdc5;
	width: 100px;
	height: 70px;
	-webkit-box-shadow: inset 0px 0px 45px 20px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 0px 45px 20px rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 45px 20px rgba(0,0,0,0.3);
}
.key>.char{
	font-size: 30px;
	position: relative;
	left: 10px;
}
.key>.sound{
	font-size: 25px;
	position: relative;
	top:40px;
}
.pressed{
	background: #f1d519;
	border-color: #7B6D02;
}
.offset{
	display: inline-block;
}