.key {
	margin: 4px 3px;
	display: inline-block;
	border: 5px solid black;
	border-radius: 3px;
	background: lightgray;
	width: 100px;
	height: 70px;
}
.pressed{
	background: lightgreen;
}
.offset{
	display: inline-block;
}