//  VARS
	// $dark-color: #2B2F3B;
	// $light-color: #b9bdc5;
	// $green-color: #a6ff4d;
	$dark-color: #333441;
	$light-color: #ABAFB7;
	$light-drk-color: #7C828F;
	$green-color: #22E88C;
	$green-drk-color: #2FCE84;

// FONTS
@font-face{
	font-family: chunk-five;
	src: url(/fonts/Chunkfive.otf);
}
@font-face{
	font-family: big-noodle;
	src: url(/fonts/Bignoodle.ttf);
}

.chunk{
	font-family: chunk-five;
}
.noodle{
	font-family: big-noodle;
}
.black-text-color{
	color: black;
}

// TAGS
body{
	color: $light-color;
	background: $dark-color;
	padding: 0;
	margin: 0;
}
audio{
	vertical-align: middle;
}
a{
	text-decoration: none;
	color:inherit;
}

// MAIN
.container{
	padding: 1%;
	font-size: 20px;
}

#nav-bar{
	font-weight: bold;
	height: 60px;
	background: $light-color;
	color: $dark-color;
	padding: 0px 20px;
	padding-top: 10px;

	.nav-item{
		padding-top: 6px;
		font-size: 20px;
		display: inline-block;
		.lamp{
			cursor: pointer;
			position: relative;
			bottom: 2px;
			right: 5px;
			background: $green-color;
			height: 10px;
			width: 10px;
			border-radius: 50%;
			display: inline-block;
		}
		+.nav-item{padding-left: 100px; }
	}

	.sign-item{
		padding-left: 50px !important;//overwrites the value from the other class
	}

	.logo{
		margin-right: 100px;
		font-size: 27px;
		width: 150px;
	}
}

// pressets#all
#presset-name{
	font-size: 50px;
}
.w3-ul{
	color: inherit;
	li{border-bottom: 1px solid $light-color};
}

// presset#show
.key {
	margin: 0.5% 0.2%;
	display: inline-block;
	border: 5px solid $light-drk-color;
	border-radius: 3px;
	background: $light-color;
	width: 9%;
	height: 80px;

	.char{
		font-size: 25px;
		position: relative;
		left: 5px;
		bottom: 2px;
	}

	.sound{
		margin: auto;
		display: inline-block;
		font-size: 23px;
		position: relative;
		top:30px;
		b{
			margin: auto;
		}
	}
}
.pressed{
	border-color: $green-drk-color;
	background: $green-color;
	color: #4d4d4d;
/*	-webkit-box-shadow: inset 0px 0px 50px 14px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 0px 50px 14px rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 50px 14px rgba(0,0,0,0.3);*/
}
.offset{
	display: inline-block;
}
.rec-btn{
	background: $light-color;
	color: $dark-color;
	font-size: 15px;
	height: 55px;
	width: 55px;
	border-radius: 50%;
	vertical-align: middle;
	&:hover{ cursor: pointer;}
}
.record{
	audio{margin-right: 10px;}
	i{
		margin-left: 10px;
		&:hover{
			cursor: pointer;
			color: #ff0000;
		}
	}
}
