//  vars
	// $dark-color: #2B2F3B;
	// $light-color: #b9bdc5;
	// $green-color: #a6ff4d;
	$dark-color: #270F56;
	$light-color: #9C9DBB;
	$light-drk-color: #676998;
	$green-color: #4ED592;
	$green-drk-color: #27a566;
// -vars
@font-face{
	font-family: chunk-five;
	src: url(/fonts/Chunkfive.otf);
}
@font-face{
	font-family: big-noodle;
	src: url(/fonts/Bignoodle.ttf);
}

.chunk{
	font-family: chunk-five;
}
.noodle{
	font-family: big-noodle;
}
.black-text-color{
	color: black;
}


body{
	color: $light-color;
	background: $dark-color;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color:inherit;
}

.container{
	padding: 1%;
	font-size: 20px;
}

#nav-bar{
	font-weight: bold;
	height: 60px;
	background: $light-color;
	color: $dark-color;
	padding: 0px 20px;
	padding-top: 10px;
}
#nav-bar>.nav-item{
	padding-top: 6px;
	font-size: 20px;
	display: inline-block;
}
.nav-item+.nav-item{padding-left: 100px; }
.nav-item>.lamp{
	cursor: pointer;
	position: relative;
	bottom: 2px;
	right: 5px;
	background: $green-color;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: inline-block;
}
#nav-bar>.sign-item{padding-left: 0px;}
#nav-bar>.sign-item+.sign-item{padding-right: 50px;}
#nav-bar>.logo{
	margin-right: 100px;
	font-size: 27px;
	width: 150px;
}

#presset-name{
	font-size: 50px;
}

.keyboard{

}
.key {
	margin: 4px 3px;
	display: inline-block;
	border: 5px solid $light-drk-color;
	border-radius: 3px;
	background: $light-color;
	width: 100px;
	height: 70px;
}
.key>.char{
	font-size: 25px;
	position: relative;
	left: 5px;
	bottom: 2px;
}
.key>.sound{
	margin: auto;
	display: inline-block;
	font-size: 23px;
	position: relative;
	top:30px;
}
.sound>b{
	margin: auto;
}
.pressed{
	border-color: $green-drk-color;
	background: $green-color;
	color: #4d4d4d;
/*	-webkit-box-shadow: inset 0px 0px 50px 14px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 0px 50px 14px rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 50px 14px rgba(0,0,0,0.3);*/
}
.offset{
	display: inline-block;
}
.rec-btn{
	font-size: 15px;
	height: 55px;
	width: 55px;
	border-radius: 50%;
}
