@font-face{
	font-family: chunk-five;
	src: url(/fonts/Chunkfive.otf);
}
@font-face{
	font-family: big-noodle;
	src: url(/fonts/Bignoodle.ttf);
}

.chunk{
	font-family: chunk-five;
}
.noodle{
	font-family: big-noodle;
}
.black-text-color{
	color: black;
}


body{
	color: #b9bdc5;
	background: #2b2f3b;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color:inherit;
}

.container{
	padding: 1%;
	font-size: 20px;
}

#nav-bar{
	font-weight: bold;
	height: 60px;
	background: #b9bdc5;
	color: #2b2f3b;
	padding: 0px 20px;
	padding-top: 10px;
}
#nav-bar>.nav-item{
	padding-top: 4px;
	font-size: 20px;
	display: inline-block;
}
.sign-item{padding-left: 0px;}
.sign-item+.sign-item{padding-right: 50px;}
.nav-item+.nav-item{padding-left: 100px; }
.nav-item>.lamp{
	cursor: pointer;
	position: relative;
	bottom: 2px;
	right: 5px;
	background: #a6ff4d;
	height: 10px;
	width: 10px;
	border-radius: 50px;
	display: inline-block;
}
/*.nav-item>span:hover{
	cursor: pointer;
	color: #4d4d4d;
}*/
#nav-bar>.logo{
	margin-right: 100px;
	font-size: 27px;
	width: 150px;
}

#presset-name{
	font-size: 50px;
	color: #b9bdc5;
}

.keyboard{

}
.key {
	margin: 4px 3px;
	display: inline-block;
	border: 5px solid #6b717b;
	border-radius: 3px;
	background: #b9bdc5;
	width: 100px;
	height: 70px;
}
.key>.char{
	font-size: 25px;
	position: relative;
	left: 5px;
	bottom: 2px;
}
.key>.sound{
	margin: auto;
	display: inline-block;
	font-size: 23px;
	position: relative;
	top:30px;
}
.sound>b{
	margin: auto;
}
.pressed{
	border-color: #59a50d;
	background: #a6ff4d;
	color: #4d4d4d;
/*	-webkit-box-shadow: inset 0px 0px 50px 14px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 0px 50px 14px rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 50px 14px rgba(0,0,0,0.3);*/
}
.offset{
	display: inline-block;
}
