<!DOCTYPE html>
<html>
  <head>
    <title>Pad</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
      src="https://code.jquery.com/jquery-3.1.1.js"
      integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
      crossorigin="anonymous">
    </script>
  </head>

  <body>
    <form> 
      <select onchange="this.form.submit()" name="presset">
        <option>Choose the presset</option>
        <option value='sails'>Sails</option>
        <option value='memory'>Memory</option>
      </select>
    </form><br>
    <button id='rec' recording='n'>Rec</button>
    <%= yield %>
    <div id="reclist"></div>
  </body>
</html>
