<!DOCTYPE html>
<html>
  <head>
    <title>Pad</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<form> 
	  	<select>
	  		<option>Memory</option>
	  	</select>
  	</form>
    <%= yield %>
  </body>
</html>
